<div class="container" id="navbar">
    <mat-toolbar color="accent">
        <span>Timeclock-App</span>
        <span class="fill-empty-space"></span>
        <span>
            <button mat-menu-icon mat-stroked-button [matMenuTriggerFor]="appMenu">
                <i id="settings-icon" class="material-icons">settings</i>
            </button>       
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item>Sign Out</button>
            </mat-menu>
        </span>
        
    </mat-toolbar>
</div>