<div class="container">
  <div class="row">
    <div class="inputForm">
      <form [formGroup]="loginForm">
        <mat-form-field>
          <input type="text" matInput formControlName="userId" placeholder="User ID">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="text" matInput formControlName="userPw" placeholder="Password">
        </mat-form-field>
      </form>
      <button mat-raised-button color="accent"><a (click)="onSubmit()">Submit</a></button>
    </div>
  </div>
</div>
