<div class="container inputForm">
    <form [formGroup]="loginForm">
      <mat-form-field>
        <input type="email" matInput formControlName="email" placeholder="Email">
      </mat-form-field>
      <br>
      <mat-form-field> 
        <!-- add a check to see if user id is authentic, then allow user to enter password -->
        <input type="password" matInput formControlName="password" placeholder="Password">
      </mat-form-field>
    </form>
    <!-- change AddUser back to Submit. This is only to test adding a user to database -->
    <!-- and returning the values later -->
    <button mat-raised-button color="accent" (click)="login()" type="submit">Log In</button>
    <!-- <button mat-raised-button color="accent" style="margin-left: 5px;" (click)="addNewUser()" type="submit">Add User</button> -->
</div>
