<app-display-time></app-display-time>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <a (click)="onClockIn()"><img id="app-button" [src]="'assets/019-time-1.png'" alt="">Clock In</a>
      <div class="row">
        <div class="col-sm-4">
          <a (click)="onClockOut()"><img class="mt-3" id="app-button" [src]="'assets/020-clock-1.png'" alt="">Clock Out</a>
        </div>
      </div>      
    </div>
    <div class="col-sm-4">
      <a><img id="app-button" src="assets/fork.png" alt=""></a>
      <div class="row">
        <div class="col-sm-4">
          <a><img id="app-button" class="mt-3" src="assets/cutlery.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <a><img src="assets/settings-gears.png" id="app-button" alt=""></a>
      <div class="row">
        <div class="col-sm-4">
          <a><img src="assets/settings.png" class="mt-3" id="app-button" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div>Icons made by <a 
  href="https://www.flaticon.com/packs/time-management-44" 
  title="Kiranshastry">Kiranshastry</a> from 
  <a href="https://www.flaticon.com/" 		    
  title="Flaticon">www.flaticon.com</a> is licensed by 
  <a href="http://creativecommons.org/licenses/by/3.0/" 		    
  title="Creative Commons BY 3.0" 
  target="_blank">CC 3.0 BY</a></div>

<div>Icons made by <a 
  href="https://www.freepik.com/" 
  title="Freepik">Freepik</a> from 
  <a href="https://www.flaticon.com/" 			    
  title="Flaticon">www.flaticon.com</a> is licensed by 
  <a href="http://creativecommons.org/licenses/by/3.0/" 			    
  title="Creative Commons BY 3.0" 
  target="_blank">CC 3.0 BY</a></div> -->