<div class="container">
  <div class="row">
      <button id="app-button" type="button" (click)="submitTime()" color="accent" mat-raised-button>Clock In</button>
      <button id="app-button" type="button" (click)="clockOut()" color="accent" mat-raised-button>Clock Out</button>
      <!-- <button id="app-button" type="button" (click)="onClick()" color="accent" mat-raised-button>Meal In</button> -->
      <!-- <button id="app-button" type="button" (click)="onClick()" color="accent" mat-raised-button>Meal Out</button> -->
  </div>
  <div class="row">
    <button id="viewTimesheetButton" mat-raised-button (click)="onViewTimesheet()" color="link">View Timesheet</button>
  </div>
</div>

